# Prices

## Import Data into R

In [4]:
data.AMZN <- read.csv("data/AMZN.csv", header = TRUE)

In [2]:
head(data.AMZN)

  Date       Open   High     Low    Close  Adj.Close Volume
1 2010-12-31 181.96 182.3000 179.51 180.00 180.00    3453895
2 2011-01-03 181.37 186.0000 181.21 184.22 184.22    5333813
3 2011-01-04 186.24 187.6995 183.78 185.01 185.01    5034775
4 2011-01-05 184.10 187.4500 184.07 187.42 187.42    3418779
5 2011-01-06 186.50 187.4100 185.25 185.86 185.86    3179610
6 2011-01-07 187.88 188.4500 183.74 185.49 185.49    5222815

In [3]:
tail(data.AMZN)

    Date       Open   High     Low    Close  Adj.Close Volume
749 2013-12-20 396.84 404.7200 395.78 402.20 402.20    5038537
750 2013-12-23 403.47 405.0000 399.20 402.92 402.92    2661823
751 2013-12-24 402.52 403.7249 396.37 399.20 399.20    1380373
752 2013-12-26 401.15 404.5200 396.81 404.39 404.39    1871590
753 2013-12-27 405.00 405.6300 396.25 398.08 398.08    1987280
754 2013-12-30 399.92 399.9200 392.45 393.37 393.37    2487812

## Convert the date Variable from a Factor to a Date

In [5]:
class(data.AMZN)

[1] "data.frame"